body {
  font-family: Arial;
  background: #020617;
  color: white;
  text-align: center;
  padding-top: 80px;
}
input { padding: 10px; width: 250px; }
button { padding: 10px 20px; cursor: pointer; }
#result { margin-top: 25px; font-size: 18px; }
